h1 {
    background-color: #336B87;
    color: #2A3132;
    text-align: center;
}
.thick-black-border {
    border-color: #763626;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    margin: 20px 50px 20px 50px;
    padding: 10px;
}

body {
    background-color: #90AFC5;
  }